@tailwind base;
@tailwind components;
@tailwind utilities;

.script {
  display: grid;
  grid-template-columns: 17mm 1fr;
  grid-template-rows: repeat(4, min-content) auto;
  grid-template-areas:
    ". logo"
    "town-side town"
    "out-side out"
    "minions-side minions"
    "demons-side demons";
}

.logo {
  grid-area: logo;
}
.side {
  writing-mode: vertical-lr;
  rotate: 180deg;
}
.town-side {
  grid-area: town-side;
}
.town {
  grid-area: town;
}
.out-side {
  grid-area: out-side;
}
.out {
  grid-area: out;
}
.minions-side {
  grid-area: minions-side;
}
.minions {
  grid-area: minions;
}
.demons-side {
  grid-area: demons-side;
}
.demons {
  grid-area: demons;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  html,
  body {
    margin: 0;
    width: 210mm;
    height: 287mm;
  }
}

